body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    background: #1e1e2f;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

h3 {
    
    text-align: center;
    color: #ffffff;
}

.email-input, .task-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #1e1e2f;
}

input::placeholder {
    background-color: #ccc;
}

button {
    margin: 0.5rem;
    padding: 10px;
    border: none;
    background: #583aff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #583aff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

li.completed {
    text-decoration: line-through;
    font-weight: bolder;
    color: #ff0000;
}